<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332401986518-iejgrt27n841q78htua5f59mbi3i8nee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332401986518-iejgrt27n841q78htua5f59mbi3i8nee</string>
	<key>API_KEY</key>
	<string>AIzaSyD5bZ0xmRStdqPDuv7fYLh-cLUWujSz--E</string>
	<key>GCM_SENDER_ID</key>
	<string>332401986518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-27924</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-27924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332401986518:ios:38637dd4c21e028bfa7277</string>
</dict>
</plist>